# Python Cache files
__pycache__
poetry.lock

# VS Code Setup
.vscode

# Downloaded constellation and star data
constellationship.fab
de421.bsp
deltat.*
hip_main.dat*
Leap_Second.dat

# Output SVG files
*.svg
